.topbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--topnav-height);
}

.topbar-search {
    position: relative;
    height: 50px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.topbar-search > input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
}

.topbar-search > i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
}

.topbar-right {
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.topbar-right-item ~ .topbar-right-item {
    margin-left: 30px;
}

.topbar_right-user {
    display: flex;
    align-items: center;
}

.topbar_right-user-image {
     width: 40px;
     height: 40%;
     border-radius: 50%;
     overflow: hidden;
     margin-right: 10px;
}

.topbar_right-user-image > img {
    width: 100%;
}

.topbar_right-user-name {
    font-size: 1rem;
    font-weight: 600;
}