
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --main-bg: #ffffff;
  --second-bg: #fafafb;
  --txt-color: #455560;
  --txt-white: #fff;
  --main-color: #2C803A;
  --second-color: #3bab4d;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --main-bg-light: #ffffff;
  --second-bg-light: #fafafb;
  --txt-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --txt-color-dark: #bbbbbb;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

  --main-color-blue: #349eff;
  --second-color-blue: #62b4ff;

  --main-color-red: #fb0b12;
  --second-color-red: #ff4a6b;

  --main-color-cyan: #10d4d2;
  --second-color-cyan: #2ae9e6;

  --main-color-green: #019707;
  --second-color-green: #4caf50;

  --main-color-orange: #d68102;
  --second-color-orange: #fca11a;
  --box-shadow: rgba(149, 157, 165, .2) 0px 8px 24px;

  --sidebar-width: 300px;
  --border-radius: 15px;
  --topnav-height: 80px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color:black;
}

button {
  cursor: pointer;
  bottom: 0;
  outline: 0;
  color: var(--txt-color);
  background-color: transparent;
  border-radius: 3px;
  padding: 2px;
}

ul {
  list-style-type: none;
}

input {
  border: 2px solid transparent;
  outline: 0;
}

input:focus {
  border: 2px solid var(--main-color);
}

.page-header {
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: large;
}

.card {
  padding: 30px;
  margin-bottom: 30px;
  background-color: var(--main-bg);
  box-shadow: rgba(80, 78, 78, 0.24) 0px 3px 8px;
  border-radius: var(--border-radius);
}

.full-height { 
  height: 100%;
}

.card.full-height {
  height: calc(100% - 30px);
}

.card-header { 
  text-transform: capitalize;
}

.card > div ~ div{ 
  margin-top: 30px;
}

.card-footer{
  text-align: center;
  text-transform: capitalize;
}

.light-background {
  background-color: var(--main-bg-light);
  color: #000;
}

.dark-background {
  background-color: var(--main-bg-dark);
  color: #fff;
}

.blue-color {
  background-color: var(--main-color-blue);
  color: #fff;
}

.red-color {
  background-color: var(--main-color-red);
  color: #fff;
}

.cyan-color {
  background-color: var(--main-color-cyan);
  color: #fff;
}

.green-color {
  background-color: var(--main-color-green);
  color: #fff;
}

.orange-color {
  background-color: var(--main-color-orange);
  color: #fff;
}

.badge.bg-success {
  border: 1px solid var(--main-color-green);
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.badge.bg-danger {
  border: 1px solid var(--main-color-orange);
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.btn.btn-add > button{
  width: max-content;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--txt-color);
  font-weight: 600 !important;
  box-shadow: var(--box-shadow);
}

.btn.btn-add :hover {
  background-color: var(--main-color);
  color: #fff;
}

iframe {
  border: none;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0 auto;
}

.form_media-recors {
  margin-left: 10px;
}

.analytic_cbb{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.analytic_cbb > div{
  margin-top: 10px;
}

.ant-table {
  border: 1px solid #e8e8e8;
  margin: 0 auto;
  font-size: 14px;
}

.ant-table-thead > tr > th {
  background: #fafafa;
  font-weight: 600;
}

.ant-table-tbody > tr > td {
  border: 1px solid #e8e8e8;
}

.ant-table-tbody > tr:hover > td{
  background-color: var(--main-color) !important;
  color: white;
  transition: all 0.2s ease-in-out;
}

.date_picker{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected-row-rowStyle {
  background-color: #2ae9e6 !important;
}